/*BS5 */

@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

/* Variables */

@use './partials/variables' as *;


/* FONT LINK */

body {

    font-family: 'Fredoka', sans-serif;

}

/*#region BACKGROUND UTILITIES */

.bg_warning {
    background-color: $ep-bg-warning;
}

.bg_light {
    background-color: $ep-bg-white;
}

.bg_danger{
    background-color: $ep-bg-danger;
}

/*#endregion BACKGROUND UTILITIES */


/*#region TEXT UTILITIES */

.ls_1 {
    letter-spacing: 1px;
}

.txt_white {
    color: $ep-text-white;
}

.txt_danger {
    color: $ep-text-danger;
}

.txt_main {
    color: $ep-text-main;
}

.txt_light_dark{
    color: $ep-text-light-dark;
}


/*#endregion TEXT UTILITIES */

/*#region SECTION DIVIDERS */
#section_splitter {
    background-image: url('../img/Wave-1.png');
    width: 100%;
    height: 150px;
    margin-top: -8rem;
}

#faculties_splitter{
    background-image: url('../svg/svg-0.svg');
    width: 100%;
    height: 180px;
}

#events_splitter{
    background-image: url('../svg/svg-1.svg');
    background-position: -20px;
    background-repeat: no-repeat;
    width: 100%;
    height: 165px;
    margin-top: -0.5px;
}

/*#endregion SECTION DIVIDERS */

header {
    position: absolute;
    margin: auto;
    width: 100%;

    button {
        background-color: $ep-bg-warning;
        color: $ep-text-white;
        font-size: 14px;
        font-weight: 600;
    }
}


h2 {
    font-size: 3rem;
}




#jumbotron {
    
    background: url(../img/theme_slider2_bg-1.jpg);
    

    .col-4 {
        padding-top: 117px;
        margin-bottom: 8rem;
    }

    h1,
    p {
        color: $ep-text-white;

    }

}

.background_overlay{
    background-color: $ep-bg-danger-transparent;
    width: 100%;
    height: 100%;
}



#courses {
    background-image: url('../img/home-background.png');
    background-size: 1800px;
    background-repeat: no-repeat;
    background-position: top right;
    padding-bottom: 5rem;
}

#faculties {
    margin-top: 5rem;

}

.faculties_list {
    height: 150px;
    background-color: $ep-bg-white;
    box-shadow: 0 -20px 10px 0 $ep-bg-lighter-gray;
    margin-top: 3rem;

    .col {
        border: 1px solid $ep-border-light;

    }

    .col>img {
        width: 50%;

    }
}

.faculty{
    margin-top: 6rem;

    p{
        line-height: 1.8rem;
    }
}

#events{
    background-color: $ep-bg-danger;
    padding: 10rem 0;
}

.timeline{
    margin: 10rem 0;
    position: relative;
}

.description{
    text-align: center;
    width: 400px;
    color: $ep-text-white;
    position: absolute; 
}

.orientation{
    top: 200px;
    left: 15px;
}

.demo{
    top: -100px;
    left: 240px;
}

.evaluation{
    top: 200px;
    left: 470px;
}

.graduation{
    top: -100px;
    left: 700px;
}

.flying_button{
    display: inline-block;
    margin-bottom: -1.2rem;
    margin-top: 1rem;
    vertical-align: top;
    box-shadow: 0 4px 20px -5px $ep-bg-light-dark;
}

#latest_courses{
    padding: 5rem 0;
}

#latest_courses .card{
    box-shadow: -2px 0 6px 8px $ep-bg-light-gray;;
}

#methods{
    margin-top: 10rem;
}

.wrapper{
    margin-right: 10rem;
}

#newsletter{
    width: 100%;
    background-color: $ep-bg-danger;
    padding: 2.5rem 0;

    h3{
        font-size: 43px;
    }
}

.submit{
    width: 50px;
    aspect-ratio: 1 / 1;
    left: -30px;
}