/* BACKGROUND */

$ep-bg-white: #FFFFFF;
$ep-bg-light-transparent: #FFFFFF80;
$ep-bg-lighter-gray: #FAFAFA;
$ep-bg-light-gray: #F7F8FA;
$ep-bg-warning: #E9D758;
$ep-bg-danger: #E56768;
$ep-bg-danger-transparent: #DA5F60E6;
$ep-bg-light-dark: #454545;
$ep-bg-dark-blue: #3D404F;
$ep-bg-black: #000000;
$ep-bg-black-transparent: #000000CC;

/* TEXT */

$ep-text-white: #FFFFFF;
$ep-text-white-transparent: #FFFFFFCC;
$ep-text-warning: #E9D758;
$ep-text-success: #79B530;
$ep-text-danger: #E56768;
$ep-text-lighter-dark: #8B8B8A;
$ep-text-light-dark: #7F7F7F;
$ep-text-light-darker: #74777B;
$ep-text-blueish-gray: #70727E;
$ep-text-blueish-dark-gray: #5C5E6C;
$ep-text-blueish-darker-gray: #434959;
$ep-text-dark-gray: #454545;
$ep-text-main: #3D404F;
$ep-text-dark: #3F3F3F;
$ep-text-dark-blue: #223441;
$ep-text-darker: #252525;
$ep-text-light-black: #151515;
$ep-text-black: #000000;

/* FILL */

$ep-fill-danger:  #E56768;
$ep-fill-white: #FFFFFF;

/* BORDERS */

$ep-border-white: #FFFFFF;
$ep-border-light: #ECECEE;
$ep-border-blueish-light: #E5ECEF;
$ep-border-warning: #E9D758;